/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,900&display=swap');
@font-face {
    font-family: 'Hobo Std';
    src: url('../fonts/HoboStd.eot');
    src: url('../fonts/HoboStd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HoboStd.woff2') format('woff2'),
        url('../fonts/HoboStd.woff') format('woff'),
        url('../fonts/HoboStd.ttf') format('truetype'),
        url('../fonts/HoboStd.svg#HoboStd') format('svg');
    font-weight: 500;
    font-style: normal;
}


.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #fff;
}
html, .fullheight {
    height: 100%;
}

/* Player css */
.player-wrapper{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    position: relative;
}
body.fullheight .player-wrapper {
    height: 100%;
}
.fullheight .header-section {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
.header-section h6 {
    font-size: 27px;
    color: #FF2E2E;
    font-weight: 900;
    margin: 0;
}
.player-container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.header-section {
    padding-top: 60px;
}

.datetime {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.logo a {
    color: #fff;
    font-family: Hobo Std;
    font-size: 33px;
    transition: .3s;
    line-height: 1
}

.logo a:hover, .footer-links ul li a:hover, .copyright a:hover, .sc-trackslist li.active a {
    text-decoration: none;
    color: #FF2E2E;
}

.sc-artwork-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sc-artwork-list li {
    display: none;
}
.sc-trackslist li:before{
    position: absolute;
    content: '';
    background-image: url(../img/list-white.png);
    top: 12px;
    left: 0;
    height: 27px;
    width: 27px;
}
.sc-trackslist li.active:before{
    background-image: url(../img/list-red.png);
}

.sc-artwork-list li.active {
    display: block;
}

.sc-artwork-list li img {
    width: 100%;
    min-height: 445px;
    border: 10px solid #FF2E2E;
}

.sc-trackslist {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 212px;
    overflow: hidden;
    text-transform: uppercase;
}

.sc-trackslist a {
    color: #fff;
}

.sc-trackslist a:hover {
    text-decoration: none;
}


.button-wrap.m-pause, .sc-player.playing .button-wrap.m-play {
    display: none;
}

.button-wrap {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sc-player {
    padding-top: 30px;
}
.sc-player.playing .button-wrap.m-pause {
    display: block;
}

.button-wrap a {
    border-radius: 50%;
    margin-right: 15px;
}
.button-wrap a img{
    height: 90px;
    width: 90px;
}
.sc-controls {
    margin-bottom: 80px;
}

.traclist-wrap h2 {
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 28px;
}

.sc-trackslist li {
    position: relative;
    z-index: 1;
    padding: 10px 0 10px 40px;
}

.sc-trackslist li a {
    font-size: 18px;
}

.footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    display: inline-block;
}

.footer-links ul li a {
    color: #fff;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    transition: .3s;
    font-weight: 500;
}

.copyright {
    font-weight: 500;   
    margin: 0;
    color: #787878;
    padding: 10px 0;
}

.copyright a {
    color: #787878;
}

.fullheight .footer-section {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.footer-section {
    padding: 15px 0;
}
.sc-artwork-list li.active > div {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 500;
    width: calc(100% - 30px);
}
.nicescroll-rails {
    z-index: 9 !important;
}

.nicescroll-cursors {
    cursor: pointer;
    background-clip: inherit !important;
}