<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TURUNEN & LISKINEN</title>

    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">

    <!--bootstrap css-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!--fontawesome all css-->
    <link href="assets/css/all.min.css" rel="stylesheet">

    <!--style css-->
    <link href="assets/css/style.css" rel="stylesheet">

    <!--responsive css-->
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>
<body class="fixed-header">
    <!-- ============== Header section ============== -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-md-end justify-content-center">
                    <div class="connects">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="tel:0401235555"><i class="fas fa-phone-alt"></i>&nbsp;040 123 5555</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class=" col ">
                    <div class="logo ">
                        <a href="# ">
                            <img src="assets/img/logo-dark.png " alt="Logo ">
                        </a>
                    </div>
                </div>
                <div class="col col-auto ">
                    <div class="main-menu ">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarContent">
                                <ul class="navbar-nav mr-auto ">
                                    <li class="nav-item active ">
                                        <a class="nav-link " href="#services">PALVELUMME</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="#software">OHJELMISTOT</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="#company">YRITYS</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " href="#contact">YHTEYSTIEDOT</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ============== Header section End ============== -->

    <!-- ============== Hero section ============== -->
    <section class="hero-section">
        <div id="bgndVideo" data-vide-bg="assets/videos/video.mp4" data-vide-options="loop: false, muted: true, position: 0% 0%"></div>
        <div class="hero-content text-uppercase ">
            <div class="container ">
                <div class="row ">
                    <div class="col text-center ">
                        <h1 class="thinner "><i class="fas fa-chevron-circle-left "></i> HUOLEHTIVA <i class="fas fa-chevron-circle-right "></i></h1>
                        <h1>#KIRJANPITÄJÄSI</h1>
                        <a href="# " class="site-btn ">VAIHDA PAREMPAAN</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============== Hero section End ============== -->

    <!-- ============== Features section ============== -->
    <section class="features-section ">
        <div class="container ">
            <div class="row ">
                <!-- Single Features -->
                <div class="col-lg-4 ">
                    <div class="single-feature ">
                        <i class="fas fa-calculator "></i>
                        <div class="feature-content ">
                            <h6>Tilitoimisto Kuopiossa</h6>
                            <p>Tilitoimistopalvelut siellä missä sinäkin. Olemme aidon oikea etätilitoimisto, joka on kaikkea muuta kuin etäinen. Meidät tavoitat joustavasti haluamallasi viestimellä tai kasvotusten teidän aikataluilla ja ehdoilla.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Features end -->

                <!-- Single Features -->
                <div class="col-lg-4 ">
                    <div class="single-feature ">
                        <i class="fas fa-laptop "></i>
                        <div class="feature-content ">
                            <h6>Paperiton tilitoimisto</h6>
                            <p>Halutessanne voitte hoitaa kaikki tilitoimiston tarpeenne sähköisesti. Meiltä löydät kattavan valikoiman ohjelmistoja ja neuvoja juuri teidän tarpeisiin. <strong>Ota yhteyttä</strong>, niin katsotaan mikä olisi paras tapa juur
                                teille!
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Single Features end -->

                <!-- Single Features -->
                <div class="col-lg-4 ">
                    <div class="single-feature ">
                        <i class="fas fa-undo "></i>
                        <div class="feature-content ">
                            <h6>Tilitoimisto kokemuksella</h6>
                            <p>Ongelma on jo ratkaistu! Yli18 vuoden kokemus tilitoimistotyöstä antaa meille kyvyn palvella teitä kokemuksen syvällä rintaäänellä. Kysy meiltä kysymys ja todennäköisesti tiedämme jo vastauksen tai selvitämme sen hetkessä!</p>
                        </div>
                    </div>
                </div>
                <!-- Single Features end -->

            </div>
        </div>
    </section>
    <!-- ============== Features section End ============== -->


    <!-- ============== Features section ============== -->
    <section class="service-section" id="services">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col col-auto text-center ">
                    <div class="section-title ">
                        <span class="subtitle ">löydä juuri teille sopiva tilitoimistopalvelu</span>
                        <h1>Palvelupaketit</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ">
                <div class="col-lg-11 ">
                    <div class="row ">
                        <div class="col-lg-3">
                            <div class="table-titles ">
                                <ul class="list ">
                                    <li>Oma nimetty kirjanpitäjä</li>
                                    <li>Parasta palvelua</li>
                                    <li>Lakisääteinen kirjanpito</li>
                                    <li>Tilinpäätös ja veroilmoitus</li>
                                    <li>Kuittien sähköinen toimitus</li>
                                    <li>Myyntilaskutusohjelmisto</li>
                                    <li>Täysin sähköinen kirjanpito</li>
                                    <li>Lisäpalvelut</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Service Column-->
                        <div class="col-lg-3">
                            <div class="service-col service-col-1">
                                <div class="service-header ">
                                    <p class="sub-head ">peruspaketti</p>
                                    <h4>Mappi</h4>
                                </div>
                                <div class="service-body">
                                    <ul class="list ">
                                        <li data-title="Oma nimetty kirjanpitäjä ">Kyllä</li>
                                        <li data-title="Parasta palvelua ">Kyllä</li>
                                        <li data-title="Lakisääteinen kirjanpito ">Kyllä</li>
                                        <li data-title="Tilinpäätös ja veroilmoitus ">Kyllä</li>
                                        <li data-title="Kuittien sähköinen toimitus ">Kyllä</li>
                                        <li data-title="Myyntilaskutusohjelmisto " class="colored ">Ei</li>
                                        <li data-title="Täysin sähköinen kirjanpito " class="colored ">Ei</li>
                                        <li data-title="Lisäpalvelut ">Kyllä</li>
                                    </ul>
                                    <div class="price-box ">
                                        <p class="price-header">ALKAEN</p>
                                        <p class="price ">55,00</p>
                                        <p class="currency ">€ / kk</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Column end-->

                        <!-- Service Column-->
                        <div class="col-lg-3">
                            <div class="service-col service-col-2">
                                <div class="service-header ">
                                    <p class="sub-head ">LAAJA paketti</p>
                                    <h4>Mappi+</h4>
                                </div>
                                <div class="service-body">
                                    <ul class="list ">
                                        <li data-title="Oma nimetty kirjanpitäjä ">Kyllä</li>
                                        <li data-title="Parasta palvelua ">Kyllä</li>
                                        <li data-title="Lakisääteinen kirjanpito ">Kyllä</li>
                                        <li data-title="Tilinpäätös ja veroilmoitus ">Kyllä</li>
                                        <li data-title="Kuittien sähköinen toimitus ">Kyllä</li>
                                        <li data-title="Myyntilaskutusohjelmisto ">Kyllä</li>
                                        <li data-title="Täysin sähköinen kirjanpito " class="colored ">Ei</li>
                                        <li data-title="Lisäpalvelut ">Kyllä</li>
                                    </ul>
                                    <div class="price-box ">
                                        <p class="price-header">ALKAEN</p>
                                        <p class="price ">65,00</p>
                                        <p class="currency ">€ / kk</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Column end-->

                        <!-- Service Column-->
                        <div class="col-lg-3">
                            <div class="service-col service-col-3">
                                <div class="service-header ">
                                    <p class="sub-head ">täyssähköinen</p>
                                    <h4>eMappi</h4>
                                </div>
                                <div class="service-body">
                                    <ul class="list ">
                                        <li data-title="Oma nimetty kirjanpitäjä ">Kyllä</li>
                                        <li data-title="Parasta palvelua ">Kyllä</li>
                                        <li data-title="Lakisääteinen kirjanpito ">Kyllä</li>
                                        <li data-title="Tilinpäätös ja veroilmoitus ">Kyllä</li>
                                        <li data-title="Kuittien sähköinen toimitus ">Kyllä</li>
                                        <li data-title="Myyntilaskutusohjelmisto ">Kyllä</li>
                                        <li data-title="Täysin sähköinen kirjanpito ">Kyllä</li>
                                        <li data-title="Lisäpalvelut ">Kyllä</li>
                                    </ul>
                                    <div class="price-box ">
                                        <p class="price-header">ALKAEN</p>
                                        <p class="price ">80,00</p>
                                        <p class="currency ">€ / kk</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Column end-->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============== Features section End ============== -->

    <!-- ============== About section  ============== -->
    <section class="about-section" id="software">
        <div class="container ">
            <div class="row ">
                <div class="col ">
                    <div class="about-wrap ">
                        <!--About us description-->
                        <div class="row ">
                            <div class="col-md-6 ">
                                <div class="boxed-contnent ">
                                    <span class="subtitle ">KOKEMUS</span>
                                    <h2>Miksi valita meidät?</h2>
                                    <p>Pitkän kokemuksen tuoma varmuus näkyy asiakkaalle nopeana ja osaavana palveluna. Vanha sanonta “aika on rahaa” on yhä aivan yhtä ajankohtainen tänään kuin mitä eilen. Mitä vähemmän me joudumme opettelemaan sen vähemmän
                                        te joudutte palveluistamme maksamaan. Käytetään laskutettavat työtunnit tehokkaasti tietäen jo ennakkoon, että sillä saamme teille parhaan mahdollisen tuloksen ja eniten vihreää viivan alle.</p>
                                    <a href="# ">Lue lisää</a>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="boxed-contnent ">
                                    <span class="subtitle ">NÄKEMYS</span>
                                    <h2>Miksi valita meidät?</h2>
                                    <p>Uskomme, että tilitoimistojen tehtävien automatisoinnin myötä meidän työtehtävät tulevat muuttumaan rutiininomaisesta kirjanpidosta laaja-alaisempaan asiakkaan auttamiseen. Verkostoituminen, liiketoimintamallien parantaminen
                                        ja ohjelmistoautomatiikan konsultaatio saattaa tulevaisuudessa olla osana jokaisen ammattitaitoisen tilitoimiston palvelukattausta. Me pyrimme tarjoamaan laaja-alaisemman palvelun jo tänään sekä kehittämään meidän
                                        osaamista teidän tulevaisuutta varten.</p>
                                    <a href="# ">Lue lisää</a>
                                </div>
                            </div>
                        </div>
                        <!--About us description end -->

                        <!--Our statics-->
                        <div class="row align-items-end ">
                            <!--Statics history-->
                            <div class="col-lg-3 ">
                                <div class="statics-box ">
                                    <div class="icon-wrap ">
                                        <i class="fas fa-trophy "></i>
                                    </div>
                                    <p class="context ">29<span>v</span> 5620<span>h</span> 23<span>m</span> 22<span>s</span></p>
                                    <h6>Vuotta kokemusta</h6>
                                </div>
                            </div>
                            <!--Statics history end-->
                            <div class="col-lg-9 ">
                                <div class="statics-title ">
                                    <p class="subtitle ">TÄMÄN PÄIVÄN AIKANA</p>
                                    <span>Laatuaikaa asiakkaiden kanssa <span class="color ">mihin lukemat perustuu?</span></span>
                                </div>
                                <div class="row ">
                                    <!--Statics history-->
                                    <div class="col-lg-4 ">
                                        <div class="statics-box ">
                                            <div class="icon-wrap ">
                                                <i class="fas fa-phone-alt "></i>
                                            </div>
                                            <p class="context ">138<span>min</span></p>
                                            <h6>Puhelimessa</h6>
                                        </div>
                                    </div>
                                    <!--Statics history end-->

                                    <!--Statics history-->
                                    <div class="col-lg-4 ">
                                        <div class="statics-box ">
                                            <div class="icon-wrap ">
                                                <i class="far fa-comment-dots "></i>
                                            </div>
                                            <p class="context ">289</p>
                                            <h6>WhatsApp viestiä</h6>
                                        </div>
                                    </div>
                                    <!--Statics history end-->

                                    <!--Statics history-->
                                    <div class="col-lg-4 ">
                                        <div class="statics-box ">
                                            <div class="icon-wrap ">
                                                <i class="fas fa-mug-hot "></i>
                                            </div>
                                            <p class="context ">22</p>
                                            <h6>Kuppia kahvia</h6>
                                        </div>
                                    </div>
                                    <!--Statics history end-->
                                </div>
                            </div>
                        </div>
                        <!--Our statics End-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============== About section End ============== -->

    <!-- ============== Client setion  ============== -->
    <div class="clients-section" id="company">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-lg-10 ">
                    <div class="subtitle text-center ">Muutamia asiakkaitamme</div>
                    <!--Clients-->
                    <div class="client-carosel ">
                        <div class="single-client ">
                            <img src="assets/img/client.png " alt="client ">
                        </div>
                        <div class="single-client ">
                            <img src="assets/img/client.png " alt="client ">
                        </div>
                        <div class="single-client ">
                            <img src="assets/img/client.png " alt="client ">
                        </div>
                        <div class="single-client ">
                            <img src="assets/img/client.png " alt="client ">
                        </div>
                        <div class="single-client ">
                            <img src="assets/img/client.png " alt="client ">
                        </div>
                    </div>
                    <!--Clients end-->
                </div>
            </div>
        </div>
    </div>
    <!-- ============== Client setion End ============== -->

    <!-- ============== footer section ============== -->
    <footer class="footer-section" id="contact">
        <div class="container ">
            <div class="row ">
                <!--widget-->
                <div class="col-lg-3  col-md-6">
                    <div class="single-wid ">
                        <div class="logo ">
                            <a href="# "><img src="assets/img/logo-light.png " alt="Light Logo "></a>
                            <p>Sinun tilitoimistosi. Pitkällä kokemuksella, suurella sydämellä ja kauas näkevällä katseella.</p>
                        </div>
                    </div>
                </div>
                <!--widget end-->

                <!--widget-->
                <div class="col-lg-3  col-md-6">
                    <div class="single-wid ">
                        <h5>Sivut</h5>
                        <ul class="footer-menu ">
                            <li><a href="# ">Etusivu</a></li>
                            <li><a href="# ">Palvelut</a></li>
                            <li><a href="# ">Ohjelmistot</a></li>
                            <li><a href="# ">Yritys</a></li>
                            <li><a href="# ">Yhteystiedot</a></li>
                        </ul>
                    </div>
                </div>
                <!--widget end-->

                <!--widget-->
                <div class="col-lg-3  col-md-6">
                    <div class="single-wid ">
                        <h5>Ajankohtaiset</h5>
                        <div class="posts ">
                            <div class="single-post ">
                                <div class="date ">23 Syyskuuta, 2020</div>
                                <h6><a href="# ">Tilinpäätös miinuksella, voi paska?</a></h6>
                            </div>
                            <div class="single-post ">
                                <div class="date ">23 Syyskuuta, 2020</div>
                                <h6><a href="# ">Laskimet: paras näppituntuma vuonna 2022</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!--widget end-->

                <!--widget-->
                <div class="col-lg-3 col-md-6">
                    <div class="single-wid ">
                        <h5>Yhteystiedot</h5>
                        <div class="contacts ">
                            <div class="single-contact ">
                                <i class="fas fa-map-marker-alt "></i>
                                <address>En muistatie 5 <br> 71700 Juiceland</address>
                            </div>
                            <div class="single-contact ">
                                <i class="fas fa-phone-alt "></i>
                                <a href="tel:0401235555 ">040 123 5555</a>
                            </div>
                            <div class="single-contact ">
                                <i class="fas fa-envelope-open-text "></i>
                                <a href="mailto:info@turunenleskinen.fi ">info@turunenleskinen.fi</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--widget end-->
            </div>
        </div>
        <!--Copyright-->
        <div class="copyright ">
            <div class="container ">
                <div class="row ">
                    <div class="col ">
                        <div class="copyright-text ">2020 <a href="# ">LUOWA</a></div>
                    </div>
                    <div class="col col-auto ">
                        <div class="connects ">
                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                            <a href="# "><i class="fab fa-twitter "></i></i></a>
                            <a href="# "><i class="fab fa-linkedin-in "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Copyright end-->
    </footer>
    <!-- ============== footer section end ============== -->



    <!--Jquery js-->
    <script src="assets/js/jquery.min.js "></script>

    <!--propper js-->
    <script src="assets/js/propper-1.12.3.js "></script>

    <!-- Vide js-->
    <script src="assets/js/jquery.vide.min.js"></script>

    <!--bootstrap js-->
    <script src="assets/js/bootstrap.min.js "></script>

    <!--main js-->
    <script src="assets/js/main.js "></script>

</body>

</html>