/* =============== Color CSS  =================== */
.single-service-box:hover .service-icon, .social-icons i.fa, .social-icons i.fa:hover, .menu-social-icon a:hover{
    color: #f39c12;
}
.contact-form input[type="submit"], .single-feature-item:hover .feature-icon, .single-works-item:hover, .progressbar-section:before, .single-team-box.active i.fa, .cta-area,  div#scrollTop, .Switcher__control, .Switcher::before {
    background-color: #f39c12;
}
.single-team-box img, .contact-form input[type="submit"], .section-padding.background-map-area .social-icons i.fa:hover   {
    border-color: #f39c12;
}
.homepage-hero-area:before{
	background: -moz-linear-gradient(left, rgba(243,156,18,1) 0%, rgba(243,156,18,0.2) 50%, rgba(243,156,18,1) 100%);
	background: -webkit-linear-gradient(left, rgba(243,156,18,1) 0%,rgba(243,156,18,0.2) 50%,rgba(243,156,18,1) 100%);
	background: linear-gradient(to right, rgba(243,156,18,1) 0%,rgba(243,156,18,0.2) 50%,rgba(243,156,18,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39c12', endColorstr='#f39c12',GradientType=1 );
}